@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
font-family: 'Raleway', sans-serif;
}
body{
  background-color: #45ad90;

}
.title{
  font-size: 30px;
}
.subtitle{
  font-size: 15px;
}

header{
  
  background-color: #ffa936;
  padding: 10px;
  height: auto;
  text-align: center;
  color: white;
}
.LogoPrin{

width: 100%;
height: 250px;
}

/*Responsive menu*/
.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  background-color: #5247a5;
  display: flex;


/*padding-right:  25%;
height: auto;
overflow: hidden;
  
-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);*/

}

li {
  flex: auto;
  float: left;
   
}

.menu a {
   color: white;
   text-decoration: none;
   line-height: 3;
  display: all;

  /*display: block;
 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 25px;
  font-size: 15px;*/
}

li a:hover:not(.active) {
  background-color: #ffa936;
  color: black;
  height: 25px;
  font-size: 16px;
}

.footer a:hover:not(.active) {
  background-color: #ffa936;
  color: black;
  height: auto;
  font-size: 16px;
}
.footer a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: auto;
  font-size: 15px;
}
.active {
  background-color: #6DA34D;
  font-size: 16px;
}
section{
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 20px;
-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
  border-radius: 38px 38px 38px 38px;
-moz-border-radius: 38px 38px 38px 38px;
-webkit-border-radius: 38px 38px 38px 38px;
border: 0px hidden #000000;
}

.content{
  text-align: center;
}

.mision{
	width: 49.5%;
	height: auto;
  text-align: center;
}
.vision{
	width: 49.5%;
	height: auto;
  text-align: center;
}

.textoo{
  float: right;
  text-align: center;
  margin-right: 200px;
}


.footer ul{
  height: 100px;

    list-style-type: none;
  height: auto;
  overflow: hidden;
  background-color: #5247a5;
}

footer p{
  float: left;
  color: white;
}
footer{
  margin: 0px;
  background-color: #5247a5;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.user{
  height: 145px;
  width: 145px;

}

#parte1 article
{
  margin:15px;

}

#parte1 h1
{
  text-align: center;
  background-color: #EB9339;
  max-width: 280px;
  width: 100%
  margin:2px;
  margin-left: 20px;
  
}

#parte1 img ,p
{

  text-align: center;
  margin:2px;
  margin-left: 20px;
  width: 100%;
  max-width: 280px;
  margin-right: 20px;
  


}





#parte1 .contenedor
{
  margin: 20px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
